          * {
               margin: 0;
               padding: 0;
               box-sizing: border-box;
          }

          body {
               background-color: #000000;
          }

          .main {
               background-color: rgba(86, 16, 16, 0.296);
          }

          .title {
               display: flex;
               justify-content: center;
               color: green;
               font-weight: 100;
          }


          .nav {
               display: flex;
               color: beige;
          }

          .nav div {
               margin-left: 15px;
          }

          .container {
               display: flex;
               flex-direction: row;
               /* justify-content: space-between; */

          }

          .leftContainer {
               display: flex;
               flex-direction: column;
               color: white;
               width: 70%;
          }

          .lefthead {
               color: green;
               font-size: 30px;
               margin: 10px;
          }

          .image {
               background-color: green;
               color: white;
               height: 100px;
               width: 1000px;
          }

          .left1 div {
               padding: 8px;
          }

          .rightSide {
               color: white;
          }

          .imager1 {
               background-color: green;
               color: white;
               height: 100px;
               width: 400px;
          }

          .rightSide div {
               padding: 10px;
          }

          .lnk {
               margin-top: 20px;
               color: green;
          }

          .hrline {
               width: 1000px;
               height: 2px;
          }


          @media only screen and (max-width: 400px) {
               .nav {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

               }
          }



          @media only screen and (max-width:1400px) {
               .container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
               }
          }

          /* @media only screen and (max-width: 1400px) {
               .container {
                    display: flex;
                    flex-direction: column;

               }

               .nav div {
                    width: 100%;
               }

          } */